#themeBtn
{
	background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active 
{
    background-color: var(--customRed);
    border-color: var(--customRed);
}

.btn-outline-primary 
{
    color: var(--customRed);;
    border-color: var(--customRed);
}

.btn-outline-primary:hover
{
    background-color: var(--customRed);
    border-color: var(--customRed);
}

.customIconButton
{
	font-size: 21px;
	border: none;
	background-color: transparent;
}

.customIconButton a
{
	color: var(--foreground);
    text-decoration: none;
}

.customIconButtonRed i
{
	color: var(--customRed);
	padding: 5px;
	border-radius: 50%;
	opacity: 0.85;
}

.customIconButtonRed i:hover
{
	transform: scale(1.1);
	opacity: 1;
}

.customIconButtonForeground
{
    color: var(--foreground);
	opacity: 0.85;
}

.customIconButtonForeground:hover
{
	opacity: 1;
}

.customButton, .customButtonInverted
{
	border: none;
	padding: 10px;
	background-size: 200% 200%;
  	transition: background-position 275ms, color 275ms;
	background-position: top;
}

.customButton
{	
	background-color: var(--customRed);
	color: white;	
	background-image: linear-gradient(to top, red 50%, var(--customRed) 0);
}

.customButtonInverted
{	
	background-color: var(--backgroundDarker1);
	color: var(--foreground);	
  	background-image: linear-gradient(to top, var(--foreground) 50%, var(--backgroundDarker1) 0);  	
}

.customButton:hover, .customButtonInverted:hover
{
	background-position: bottom;
}

.customButtonInverted:hover
{
	color: var(--background);
}

.customButton i, .customButtonInverted i
{
	padding-left: 8px;
}

.stornirajButton
{
	background-color: transparent !important;
    background-image: linear-gradient(to top, #ffffff 50%, transparent 0) !important;
    border: 3px solid var( --customRed) !important;
    color: var( --customRed) !important;
    font-weight: 900;
    opacity: 0.7;
}

.customButtonStorniraj
{
	padding: 2px 6px 2px 6px !important;
    font-weight: 700;
    font-size: large;
	background-color: rgb(255 0 0 / 40%);
    color: var(--customRed);
    background-image: linear-gradient(to top, rgba(255,0,0,0.4) 50%, var( --backgroundDarker1) 0);
}

.customButtonStorniraj:hover
{
	color: white;
}

.novaStavkaButton
{
	background-image: linear-gradient(to top, rgba(50, 305, 50, 0.2) 50%, rgba(50, 305, 50, 0.1) 0);
    background-color: rgba(50, 305, 50, 0.1);
    color: limegreen;
}