.nav-link 
{
    padding: .5rem 1rem !important;
}

nav
{
	background: var(--customRed);
}

a:hover
{
	cursor: pointer;
}

.dropdown-divider
{
	color: gray;
	opacity: 0.3
}

.nav-item
{
	margin-right: 2px;
    background-color: rgba(255,255,255,0.1);
}

.nav-item:hover
{
    background-color: rgba(255,255,255,0.2);
}

.dropdown-menu
{
	border: 0px; 
	border-radius: 0%;
	background-color: var(--backgroundDarker1);
}

.dropdown-item
{
	display: flex;
	align-items: center;
	color: var(--foreground);
}

.dropdown-item:hover
{
	background-color: #990000;
	color: white;
}

.dropdown-item i
{
	margin-left: auto;
	color: gray;
	opacity: 0.3
}

.dropdown-item:hover i
{
	color: white;
}

.noviRacunContainer
{
    margin-left:-66px;
    background: limegreen;
    width: 132px;
    color: var(--background);
    left:50%;
    -webkit-box-shadow: inset 0px 10px 20px -15px #000000; 
	box-shadow: inset 0px 10px 20px -15px #000000;
    padding: 0px 8px 25px 8px;
    position: absolute !important;
}

.container 
{     
    position:relative;
}

.noviRacunContainer:hover
{
	padding-top: 5px;
	cursor: pointer;
}

.noviRacunContainer:after {
    background: linear-gradient(-45deg, var(--background) 16px, transparent 0), linear-gradient(45deg, var(--background) 16px, transparent 0);
    background-repeat: repeat-x;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.noviRacunContainer::after
{
    background-size: 12px 32px;
}