body
{
	background-color: var(--background);
}

.radiusNone
{
	border-radius: 0px;
}

.card
{
	width: 18rem;
	padding: 0px;
	background-color: var(--backgroundDarker1);
	color: var(--foreground);
	border-radius: 0px;
}

.card-img-top
{
	object-fit: cover;
	height: 200px;
}

.card-footer
{
	border-top: 4px solid var(--customRed);
}

.badge
{
	background: rgb(153,0,0);
	background: linear-gradient(90deg, rgba(153,0,0,1) 0%, rgba(153,0,0,1) 75%, rgba(102,0,102,1) 100%);
}

.displayNone
{
	display: none;
}

.tdImage
{
	max-height: 50px;
}

h4
{
    border-bottom: 5px solid var(--customRed);
    color: var(--foreground);
    font-weight: bold;
    font-size: xx-large;
}

.customFlex
{
	justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.form-control, .form-select
{
	border-radius: 0px;
}

.customForm input,select,textarea
{
	background-color: var(--backgroundDarker1) !important;
	border: none !important;
	color: var(--foreground) !important;
	height: calc(3.5rem + 2px);
    padding: 1rem .75rem;
}

.customForm textarea
{
	height: auto !important;
}

.customForm input:focus,select:focus,textarea:focus
{
	border-bottom: 3px solid var(--customRed) !important;
	box-shadow: none !important;
}

.customForm label
{
	background-color: transparent;
	color: var(--foreground);
}

.receiptContainer
{
	padding: 35px 8px 25px 8px;
	background: rgb(238,238,238);
	background: linear-gradient(59deg, var(--backgroundDarker1) 0%, var(--backgroundDarker2) 50%, var(--backgroundDarker1) 100%);
	color: var(--foreground);
}

.receiptContainer:after, .receiptContainer:before
{
	background-size: 20px 32px !important;
}

.receiptContainer:before, .receiptContainer::after
{
	background: linear-gradient(-45deg, var(--background) 16px, transparent 0), linear-gradient(45deg, var(--background) 16px, transparent 0);
	background-repeat: repeat-x;
	content: " ";
	display: block;
	position: absolute;
	left: 0px;
	width: 100%;
	height: 32px;
}

.receiptContainer:before
{	
	top: 0px;	
	transform: rotateX(180deg);
}

.receiptContainer:after
{
	bottom: 0px;
}

.dashedBorder
{
	border: 2px dashed var(--backgroundDarker1);
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px var(--backgroundDarker1) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill
{
 -webkit-text-fill-color: var(--foreground) !important;
}

.validationLabel
{
	color: red !important;
    opacity: 0.6;
    font-size: 1rem;
    background-color: rgba(255,0,0,0.2);
    padding: 3px;
}

.table-hover>tbody>tr:hover 
{
    --bs-table-accent-bg: var(--backgroundDarker1);
    color: var(--foreground);
}

.table-hover>tbody>tr.noHoverEffect:hover 
{
    --bs-table-accent-bg: var(--background);
}

.table
{
	color: var(--foreground);
}

.table thead
{
	border-bottom: 4px solid var(--customRed) !important;
}

tbody, td, tfoot, th, thead, tr {
    border-color: var(--backgroundDarker1);
}

.disabledRow
{
	opacity: 0.2;
	pointer-events:none;
}

body::-webkit-scrollbar 
{
	width: 15px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track 
{
	background: var(--backgroundDarker1);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb 
{
	background-color: var(--customRed);    /* color of the scroll thumb */
	border: 2px solid var(--backgroundDarker1);  /* creates padding around scroll thumb */
}

.racunTable
{
	table-layout: fixed;
	width: 100%;
}

.racunTable td:not(.collapse), .racunTable th
{
	text-overflow: ellipsis;
	overflow: hidden;  
	white-space: nowrap;
}

.racunTable tbody
{
	border-top: 3px dashed var(--background);
	border-bottom: 3px dashed var(--background);
}