<div class="container receiptContainer font-monospace">

    <div class="d-flex justify-content-center align-items-center fw-bold fs-2">
        <logo></logo>
    </div>
    <div class="d-flex justify-content-center">
        <button ng-if="racunParametar.Storniran == 0 && isAdminParametar == true" class="customButton customButtonStorniraj" 
        ng-click="stornirajParametar({param: racunParametar})">
            STORNIRAJ<i class="fas fa-undo"></i>
        </button>
    </div>
    <div class="d-flex">
        <h5 class="pe-2">Šifra računa: </h5><h5 class="px-2 dashedBorder">{{racunParametar.SifraRacuna}}</h5>
    </div>
    <div class="d-flex">
        <h5 class="pe-2">Šifra zaposlenika: </h5><h5 class="px-2 dashedBorder">{{racunParametar.SifraZaposlenika}}</h5>
    </div>
    <div class="d-flex">
        <h5 class="pe-2">Datum: </h5><h5 class="px-2 dashedBorder">{{racunParametar.Datum}}</h5>
    </div>

    <table class="w-100 racunTable">
        <thead>
            <tr>
                <th>Sifra artikla</th>
                <th class="w-50">Naziv</th>
                <th>Kolicina</th>
                <th>Jedinična cijena</th>
                <th>Ukupna cijena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="Stavka in racunParametar.Stavke">
                <td>{{Stavka.SifraArtikla}}</td>
                <td>{{Stavka.Naziv}}</td>
                <td>{{Stavka.Kolicina}}</td>
                <td>{{Stavka.JedinicnaCijenaConverted}}</td>
                <td>{{Stavka.UkupnaCijenaConverted}}</td>    
                <td scope="col" class="align-middle text-center">
                    <button class="customIconButton customIconButtonForeground" data-bs-toggle="collapse" data-bs-target="#collapse{{Stavka.SifraArtikla}}" 
                    aria-expanded="false" aria-controls="collapse{{Stavka.SifraArtikla}}">
                    <i class="fas fa-caret-down"></i> <i class="fas fa-search"></i>
                    </button>
                </td>
            </tr>
            <tr ng-repeat-end>
				<td class="collapse" id="collapse{{Stavka.SifraArtikla}}" scope="col" colspan="6">
					<div class="collapse d-flex" id="collapse{{Stavka.SifraArtikla}}">
						<div style="max-width: 20%;" class="p-3">
                            <img src="{{Stavka.Slika}}" style="max-width: 100%;">
                        </div>
                        <div class="p-3">
                            <div>
                                <b>Jedinica mjere</b><br>
                                {{Stavka.JedinicaMjere}}
                            </div>
                            <div>
                                <b>Kategorija</b><br>
                                {{Stavka.Kategorija.Naziv}}
                            </div>
                            <div>
                                <b>Opis</b><br>
                                {{Stavka.Opis}}
                            </div>
                        </div>
					</div>
				</td>
			</tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-end" colspan="6"><br><h5><b>UKUPAN IZNOS </b>
                    <span ng-if="racunParametar.SifraValute == $root.User.Valuta" class="text-nowrap">
                        {{racunParametar.UkupanIznos}} {{$root.User.Valuta}}
                    </span>
                    <span ng-if="racunParametar.SifraValute != $root.User.Valuta" class="text-nowrap">
                        {{racunParametar.UkupanIznosConverted}} {{$root.User.Valuta}}
                    </span>
                    <small ng-if="racunParametar.SifraValute != $root.User.Valuta" class="text-nowrap originalCurrencyLabel">
                        {{racunParametar.UkupanIznos}} {{racunParametar.SifraValute}}
                    </small>
                </h5></td>
            </tr>
        </tfoot>
    </table>

    <span ng-if="racunParametar.Storniran == 1" class="storniranRibbonReceipt px-2">STORNIRAN</span>
</div>