<button class="customButton py-1" data-bs-toggle="collapse" data-bs-target="#collapseFiltriranje" aria-expanded="false" aria-controls="collapseFiltriranje">
    Filtriranje<i class="fas fa-caret-down rotate"></i>
</button>

<div class="collapse" id="collapseFiltriranje">
	<div class="d-flex justify-content-center align-items-center selectDiv mt-3">
		<input type="checkbox" class="mx-0" ng-model="filterObjectParametar.PrikaziAdmine" ng-change="filterChangeParametar()">
		PRIKAŽI VODITELJE
		<input type="checkbox" ng-model="filterObjectParametar.PrikaziZaposlenike" ng-change="filterChangeParametar()">
		PRIKAŽI ZAPOSLENIKE
	</div>

	<div class="d-flex justify-content-center align-items-center selectDiv mt-3">
		<input type="checkbox" class="mx-0" ng-model="filterObjectParametar.PrikaziAktivne" ng-change="filterChangeParametar()">
		PRIKAŽI AKTIVNE
		<input type="checkbox" ng-model="filterObjectParametar.PrikaziDeaktivirane" ng-change="filterChangeParametar()">
		PRIKAŽI DEAKTIVIRANE
	</div>

	<div class="d-flex justify-content-center">
		<input type="text" placeholder="Šifra zaposlenika" list="SifreZaposlenika" 
		ng-model="filterObjectParametar.SifraZaposlenikaFilter" ng-change="filterChangeParametar()">
		<datalist id="SifreZaposlenika">
			<option ng-repeat="Zaposlenik in tableParamsParametar._settings.dataset">{{Zaposlenik.SifraZaposlenika}}</option>
		</datalist>
	</div>

	<div class="d-flex justify-content-center">
		<input type="text" placeholder="Ime" list="ImenaZaposlenika" 
		ng-model="filterObjectParametar.ImeFilter" ng-change="filterChangeParametar()">
		<datalist id="ImenaZaposlenika">
			<option ng-repeat="Zaposlenik in tableParamsParametar._settings.dataset">{{Zaposlenik.Ime}}</option>
		</datalist>
	</div>

	<div class="d-flex justify-content-center">
		<input type="text" placeholder="Prezime" list="PrezimenaZaposlenika" 
		ng-model="filterObjectParametar.PrezimeFilter" ng-change="filterChangeParametar()">
		<datalist id="PrezimenaZaposlenika">
			<option ng-repeat="Zaposlenik in tableParamsParametar._settings.dataset">{{Zaposlenik.Prezime}}</option>
		</datalist>
	</div>

	<div class="d-flex justify-content-center">
		<input type="text" placeholder="Email" list="EmailoviZaposlenika" 
		ng-model="filterObjectParametar.EmailFilter" ng-change="filterChangeParametar()">
		<datalist id="EmailoviZaposlenika">
			<option ng-repeat="Zaposlenik in tableParamsParametar._settings.dataset">{{Zaposlenik.Email}}</option>
		</datalist>
	</div>
</div>