<div class="d-flex customFlex">
	<h4>PREGLEDAJ ARTIKLE</h4>
</div>

<div class="d-flex p-3 justify-content-center">
	<div class="btn-group btn-group-custom" role="group" aria-label="Basic radio toggle button group">
		<input ng-click="ShowCards()" type="radio" class="btn-check" name="btnradio" id="btnradioCards" autocomplete="off" checked>
		<label class="btn btn-outline-primary radiusNone" for="btnradioCards"><i class="fas fa-th"></i></label>

		<input ng-click="ShowTable()" type="radio" class="btn-check" name="btnradio" id="btnradioTable" autocomplete="off">
		<label class="btn btn-outline-primary radiusNone" for="btnradioTable"><i class="fas fa-th-list"></i></label>
	</div>
</div>

<div class="row row-cols-1 row-cols-md-3 justify-content-center" id="pregledArtiklaCards">
	<div ng-repeat="Artikl in Artikli" class="card m-3">
		<div class="card-header">
			{{Artikl.Kategorija.Naziv}}
		</div>
		<img src="{{Artikl.Slika}}" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{Artikl.Naziv}}</h5>
			<p class="card-text">{{Artikl.Opis}}</p>
		</div>
		<div class="card-footer">
		    {{Artikl.JedinicnaCijena}} kn <span class="badge">{{Artikl.JedinicaMjere}}</span>
		</div>
	</div>
</div>

<div class="row row-cols-1 row-cols-md-3 displayNone" id="pregledArtiklaTable" style="justify-content: center;">	
	<table ng-table="tableParams" class="table" show-filter="true">
		<tr ng-repeat="Artikl in $data">
			<td title="'Šifra artikla'" filter="{ SifraArtikla: 'number'}" sortable="'SifraArtikla'">
				{{Artikl.SifraArtikla}}
			</td>
			<td title="'Naziv'" filter="{ Naziv: 'text'}" sortable="'Naziv'">
				{{Artikl.Naziv}}
			</td>
			<td title="'Opis'" filter="{ Opis: 'text'}" sortable="'Opis'">
				{{Artikl.Opis}}
			</td>
			<td title="'Jedinica mjere'" filter="{ JedinicaMjere: 'text'}" sortable="'JedinicaMjere'">
				{{Artikl.JedinicaMjere}}
			</td>
			<td title="'Jedinična cijena'" filter="{ JedinicnaCijena: 'number'}" sortable="'JedinicnaCijena'">
				{{Artikl.JedinicnaCijena}}
			</td>
			<td title="'Kategorija'" sortable="'Kategorija.Naziv'">
				{{Artikl.Kategorija.Naziv}}
			</td>
		</tr>
	</table>
</div>