<div class="d-flex customFlex">
	<h4>UREDI PROFIL</h4>
</div>

<form class="customForm" ng-submit="Submit()">

    <div class="form-floating mt-3">
		<input type="text" class="form-control" id="floatingIme" placeholder=" " ng-model="$root.User.Ime" autocomplete="off">
		<label for="floatingIme">Ime</label>
        <h3 class="validationLabel" ng-repeat="Error in $root.User.Errors" ng-if="Error.Atribut == 'Ime'">
			<i class="fas fa-exclamation-circle me-1"></i>{{Error.Poruka}}
		</h3>
	</div>

    <div class="form-floating mt-3">
		<input type="text" class="form-control" id="floatingPrezime" placeholder=" " ng-model="$root.User.Prezime" autocomplete="off">
		<label for="floatingPrezime">Prezime</label>
        <h3 class="validationLabel" ng-repeat="Error in $root.User.Errors" ng-if="Error.Atribut == 'Prezime'">
			<i class="fas fa-exclamation-circle me-1"></i>{{Error.Poruka}}
		</h3>
	</div>

    <div class="form-floating mt-3" style="flex: 1;">
        <select class="form-select" id="floatingValuta" aria-label=" " ng-model="$root.User.Valuta">
            <option ng-repeat="Valuta in Valute" value="{{Valuta.SifraValute}}">
                {{Valuta.SifraValute}} - {{Valuta.NazivValute}}
            </option>
        </select>
        <label for="floatingValuta">Zadana valuta</label>
    </div>

    <div class="form-floating mt-3" style="flex: 1;">
        <select class="form-select" id="floatingTema" aria-label=" " ng-model="$root.User.Tema">
            <option value="L">Svijetla</option>
            <option value="D">Tamna</option>
        </select>
        <label for="floatingTema">Zadana tema</label>
    </div>

    <div class="d-flex mt-3">
        <button type="submit" class="customButton">SPREMI PROMJENE<i class="fas fa-check-circle"></i></button>
        
        <button type="reset" class="customButtonInverted ms-auto">OČISTI INPUTE<i class="fas fa-ban"></i></button>
    </div>

</form>