<zaposlenici-filtriranje table-params-parametar="tableParams" filter-object-parametar="FilterObject"
filter-change-parametar="FilterChange()"></zaposlenici-filtriranje>

<div class="row row-cols-1 row-cols-md-3">
	
	<table ng-table="tableParams" class="table">
		<tr ng-repeat="Zaposlenik in $data" ng-style="{ 'opacity' : (Zaposlenik.Deaktiviran == '1') ? '0.4' : '1' }">
            <td>         
                <img src="{{Zaposlenik.ProfilnaSlika}}"
                style="border-radius: 50%; height: 25px;">
				<span class="adminLabel" ng-if="Zaposlenik.Admin == 1">					
                	<i class="fas fa-star"></i>
					ADMIN
				</span>
            </td>
			<td title="'Šifra'" sortable="'SifraZaposlenika'">
				{{Zaposlenik.SifraZaposlenika}}
			</td>
            <td title="'Ime'" sortable="'Ime'">
				{{Zaposlenik.Ime}}
			</td>
            <td title="'Prezime'" sortable="'Prezime'">
				{{Zaposlenik.Prezime}}
			</td>
            <td title="'Email'" sortable="'Email'">
				{{Zaposlenik.Email}}
			</td>
			<td title="'Admin'" class="text-center">
				<button class="customIconButton customIconButtonRed" ng-click="AdminChange(Zaposlenik)" ng-if="Zaposlenik.Deaktiviran == 0">
					<i class="fas fa-minus-circle" ng-if="Zaposlenik.Admin == 1"></i>
					<i class="fas fa-plus-circle" ng-if="Zaposlenik.Admin == 0"></i>
				</button>
			</td>
			<td title="'Deaktiviraj'" class="text-center">
				<button class="customIconButton customIconButtonRed" ng-click="DeaktivirajRacun(Zaposlenik)" ng-if="Zaposlenik.Deaktiviran == 0">
					<i class="fas fa-user-times"></i>
				</button>
			</td>
		</tr>
	</table>
</div>