<div class="d-flex customFlex">
	<h4>UREDI ARTIKLE</h4>
</div>

<artikl-filtriranje table-params-parametar="tableParams" 
filter-object-parametar="FilterObject"
filter-change-parametar="FilterChange()"></artikl-filtriranje>

<div class="row row-cols-1 row-cols-md-3" style="justify-content: center;">
	<table ng-table="tableParams" class="table">
		<tr ng-repeat-start="Artikl in $data">
			<td title="'Šifra artikla'" sortable="'SifraArtikla'">
				{{Artikl.SifraArtikla}}
			</td>
			<td title="'Naziv'" sortable="'Naziv'">
				{{Artikl.Naziv}}
			</td>
			<td title="'Opis'" sortable="'Opis'">
				{{Artikl.Opis}}
			</td>
			<td title="'Jedinica mjere'" sortable="'JedinicaMjere'">
				{{Artikl.JedinicaMjere}}
			</td>
			<td title="'Jedinična cijena'" sortable="'JedinicnaCijenaConverted'">
				<span ng-if="Artikl.SifraValute == 'HRK'" class="text-nowrap">
					{{Artikl.JedinicnaCijena}} HRK
				</span>
				<span ng-if="Artikl.SifraValute != 'HRK'" class="text-nowrap">
					{{Artikl.JedinicnaCijenaConverted}} HRK
				</span>
				<small ng-if="Artikl.SifraValute != 'HRK'" class="text-nowrap originalCurrencyLabel">
					{{Artikl.JedinicnaCijena}} {{Artikl.SifraValute}}
				</small>
			</td>
			<td title="'Kategorija'" sortable="'Kategorija.Naziv'">
				{{Artikl.Kategorija.Naziv}}
			</td>
			<td class="align-middle text-center">
				<button class="customIconButton customIconButtonRed" ng-click="Open(Artikl)" data-bs-toggle="collapse" data-bs-target="#collapse{{Artikl.SifraArtikla}}" aria-expanded="false" aria-controls="collapse{{Artikl.SifraArtikla}}">
					<i class="fas fa-cog"></i>
				</button>
			</td>
			<td class="align-middle text-center">
				<button class="customIconButton customIconButtonRed" ng-click="Delete(Artikl)">
					<i class="fas fa-trash-alt"></i>
				</button>
			</td>
		</tr>
		<tr ng-repeat-end class="noHoverEffect">
			<td class="collapse collapse{{Artikl.SifraArtikla}}" id="collapse{{Artikl.SifraArtikla}}" scope="col" colspan="9">
				<div class="collapse collapse{{Artikl.SifraArtikla}}" id="collapse{{Artikl.SifraArtikla}}">
					<artikl-forma metoda-parametar="'PUT'" artikl-parametar="Artikl" kategorije-parametar="Kategorije" valute-parametar="Valute"
					submit-parametar="Submit(Artikl)" odustani-parametar="Odustani(Artikl)" change-parametar="Change(Artikl)"></artikl-forma>
				</div>
			</td>
		</tr>
	</table>
</div>